<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<style>
    .border {
        border: 1px solid black;

    }
    .border-red {
        border: 1px solid red;
    }
    .center{
        text-align: center;
    }
    .espacamento{
        padding: 2rem;
    }

</style>


<body>

    <div class="container ">
        <div class="container row border-red">
            <div class="col-sm-12 col-md-6 col-lg-4 border espacamento">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-8 border">
                        <img src="../../img/photo1.jpeg" alt="erro" width="100%">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 border">
                        <p>
                            Oculos de sol
                        </p>
                    </div>

                </div>

                <!-- <br> -->

            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 border espacamento">

                <img src="../../img/photo2.jpg" alt="erro" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 border espacamento">
                <img src="../../img/photo3.jpeg" alt="erro" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 border espacamento">
                <img src="../../img/photo4.webp" alt="erro" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 border espacamento">
                <img src="../../img/photo5.jpg" alt="erro" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 border espacamento">
                <img src="../../img/photo6.png" alt="erro" width="100%">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 border center">
                <button class="btn btn-danger" type="submit">butao</button>
            </div>


        </div>


    </div>




    <!--     

    <div class="container">
        <div class="row">
            <div class="border-black-align-center col-sm-12">
                ola
            </div>
            <div class="border-black-align-center col-sm-12">
                <img src="../../img/photo1.jpeg" alt="erro" width="100%">
            </div>

            <div class=" border-black-align-center col-sm-12">
                <img src="../../img/photo2.jpg" alt="erro" width="100%">
            </div>
            <div class="border-black-align-center col-sm-12">
                <img src="../../img/photo3.jpeg" alt="erro" width="100%">
            </div>
            <div class="border-black-align-center col-sm-12">
                <img src="../../img/photo4.webp" alt="erro" width="100%">
            </div>
            <div class="border-black-align-center col-sm-12">
                <img src="../../img/photo5.jpg" alt="erro" width="100%">
            </div>
            <div class="border-black-align-center col-sm-12">
                <img src="../../img/photo6.png" alt="erro" width="100%">
            </div>

        </div>




    </div> -->



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>




    <!-- <p>Corpo da pagina</p>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 border-black">
                Helllo world
                No bootstrap a soma das colunas é 12.  col-sm-# significa que ocupa # das 12 colunas-->
    <!--One of three columns-->
    <!-- </div>
            <div class="col-sm-12 col-md-8 col-lg-4 border-black">
                One of three columns
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 border-black">
                Gato -->
    <!--One of three columns-->
    </div>
    </div>
    </div>
</body>

</html>